@import "../../_globalColor";

.container {
  display: flex;
  justify-content: center;
}

/* Rectangle Card Layout */
.rectangle {
  display: flex;
  width: 80%;
  max-width: 1000px;
  height: 300px;
  margin: 50px auto 0 auto;
  border-radius: 4px;
  box-shadow: 0px 20px 50px $darkBoxShadow;
  transition: all 0.3s ease;
  overflow: hidden;
}
.rectangle:hover {
  box-shadow: 0 20px 40px $textColorDark;
}
.dark-rectangle {
  box-shadow: 0px 0px 20px 0px;
}
.mask {
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
}

/* Card  Styling */
.talk-card-image-div{
  flex: 0 0 60%; // 60% width
  height: 100%;
}
.talk-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.talk-card-details-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}
.talk-card-subtitle {
  font-size: 16px;
  color: $talkCardSubTitle;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; //Increase line clamp to show more lines
  -webkit-box-orient: vertical;
}
.talk-button {
  background-color: $buttonColor;
  color: $textColorDark;
  width: 90px;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}
.talk-button:hover {
  background: $buttonHover;
}
.card-footer-button-div {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* Media Query */
@media (max-width: 1380px) {
  .card-title {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .rectangle {
  flex-direction: column;
  width: 100%;
  height: auto;
  }
  .mask {
    clip-path: none;
    position: relative;
  }
  .talk-card-title {
    margin-top: 30px;
  }
  .talk-card-image {
    width: 100%;
  }
  .talk-card-image-div{
    flex: 1 1 100%;
    width: 100%;
    height: auto;
  }
  .talk-card-details-div {
    flex: 1 1 100%;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .talk-button {
    background-color: $buttonColor;
    color: $textColorDark;
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  .talk-button:hover {
    background: $buttonHover;
  }
  .card-footer-button-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .square {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
}
